
<4 include partials/header %>

<h1>Create a new campground</h1>

<form action="/campgrounds" method='POST'>
    <input type='text' placeholder='name' name='Name'></input>
    <input type='text' placeholder='image url' name='Image'></input>
    <button>Submit </button>
</form>

<% include partials/footer %>

